* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.amarelo {
    background-color: yellow;
    width: 98%;
    height: 80px;
}
.vermelhos {
    width: 98%;
    height: 400px;
    display: flex;
}
.content {
    width: 60%;
    height: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}
.texto1 {
    background-color: orange;
    width: 80px;
    height: 80px;
}
.texto2 {
    background-color: orange;
    width: 98%;
    height: 80px;
}
.texto3 {
    background-color: orange;
    width: 160px;
    height: 80px;
}
.user {
    background-color: orange;
    width: 40%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}
.icon {
    background-color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name {
    background-color: aliceblue;
    width: 250px;
    height: 80px;
}